{% extends 'base.html.twig' %}

{% block title %}Modifier les Mentions légales{% endblock %}

{% block body %}

    <h1>Modifier les Mentions légales</h1>
    <hr>
    {{ include('legal/_form.html.twig', {'button_label': 'Sauvegarder'}) }}
    <hr>
    <div class="text-center mx-auto my-2">
        <p class="col-12"><a href="{{ path('app_legal_index') }}" class="btn btn-view" title="Retour vers Liste"><i class="fa-solid fa-circle-arrow-left fa-beat mx-2"></i>Retour</a></p>
    </div>

{% endblock %}
