{# {% extends 'base.html.twig' %}

{% block title %}Créer Mentions Légales{% endblock %}

{% block body %}
    <h1>Créer Mentions Légales</h1>

    {{ include('legal/_form.html.twig') }}

    <a href="{{ path('app_legal_index') }}">Retour vers liste</a>
{% endblock %} #}
