<div class="mx-auto text-center">
    <div class="container-fluid border-top footer-background">
        <div class="row">
            <div class="col">
                <ul class="text-center mt-2">
                    <li><a href="{{ path('app_legals') }}" class="text-footer">Mentions légales</a></li>
									
                    <li><a href="{{ path('app_privacies') }}" class="text-footer">Politique de confidentialité</a></li>
                    <br>
                    <li>
                        <a href="https://www.instagram.com/terragaiacoaching/" class="mx-3"><i class="fa-brands fa-instagram fa-3x"></i></a>
                        <a href="https://www.linkedin.com/in/laurence-debussy-expertrh/" class="mx-3"><i class="fa-brands fa-linkedin fa-3x"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container-fluid bg-dark">
        <div class="row">
            <div class="col">
                <ul class="text-center mt-2">
                    <li><img src="/assets/images/logos/logo_terra_gaia_mini.png" class="nav-logo" alt="terra-gaia-coaching-professionnel-conseil-rh-formation"></li>
                    <li><a href="#" class="text-footer">Terra-Gaïa Coaching Professionnel&copy;2022</a><span> / </span><a href="https://www.linkedin.com/in/sylvain-semp%C3%A9r%C3%A9-64618b228/" class="text-footer" title="Linkedin"><i class="fa-brands fa-linkedin"></i> Ce site internet a été créé par Sylvain Sempéré</a></p></li>
                </ul>
            </div>
        </div>
    </div>
</div>