<form method="post" action="{{ path('app_bill_delete', {'id': bill.id}) }}" onsubmit="return confirm('Etes vous certain de vouloir supprimer définitivement ce Devis ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ bill.id) }}">
    <button class="btn btn-danger"><i class="fa fa-trash fa-beat mx-2"></i>Supprimer</button>
</form>
