{% extends 'base.html.twig' %}

{% block title %}Modifier Devis{% endblock %}

{% block body %}

    <h1>Modifier Devis</h1>
    <hr>
    {{ include('bill/_form.html.twig', {'button_label': 'Sauvegarder'}) }}
    <hr>
    <div class="text-center mx-auto my-2">
        <p class="col-12"><a href="{{ path('app_bill_index') }}" class="btn btn-view" title="Retour vers Liste"><i class="fa-solid fa-circle-arrow-left fa-beat mx-2"></i>Retour</a></p>
    </div>
    <hr>
    <div class="text-center mx-auto my-2">
        <h5 class="col-12">Supprimer mon Devis*</h5>
        {{ include('bill/_delete_form.html.twig') }}
        <p class="col-12">*Attention ! toute suppression est définitive.</p>
    </div>
    <hr>
    
{% endblock %}
