{% extends 'base.html.twig' %}

{% block title %}Créer un nouveau Type de RDV{% endblock %}

{% block body %}

    <h1>Créer un nouveau Type de RDV</h1>
    <hr>
    {{ include('choice/_form.html.twig') }}
    <hr>
    <br>
    <div class="text-center mx-auto my-2">
        <p class="col-12"><a href="{{ path('app_choice_index') }}" class="btn btn-view" title="Retour vers Liste"><i class="fa-solid fa-circle-arrow-left fa-beat mx-2"></i>Retour</a></p>
    </div>
{% endblock %}
