<form method="post" action="{{ path('app_coordonate_delete', {'id': coordonate.id}) }}" onsubmit="return confirm('Etes vous certain de vouloir supprimer définitivement ces Coordonnées de Contact ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ coordonate.id) }}">
    <button class="btn btn-danger"><i class="fa fa-trash fa-beat mx-2"></i>Supprimer</button>
</form>
