{% extends 'base.html.twig' %}

{% block title %}Prendre un RDV d'Information ou Réserver une Séance de Coaching/Accompagnement, selon mes disponibilités{% endblock %}

{% block body %}
<h1>Prendre un RDV d'Information ou Réserver une Séance de Coaching/Accompagnement, selon mes disponibilités</h1>
<h5 class="col-12 text-center text-warning my-5">Rappel : Votre première séance* sera un "RDV d'Information" à distance et gratuit, afin de connaître vos attentes, déterminer vos besoins, établir votre devis personnalisé qui vous sera envoyé dans votre Espace Utilisateur dans la rubrique "Mes Devis"et par E-mail et fixer les prochaines séances éventuelles avec vous.</h5>
<p class="col-12 text-center my-5">*Afin que la préparation de notre RDV soit optimale, veuillez compléter votre Profil dans votre Espace Membre avec le nom de votre entreprise ou association ou école... ainsi que votre profession ou nom de votre cursus étudiant. Pour cela cliquez "Mon Profil" puis "Modifier".<p>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <div class=" col-2 mx-auto">
        <button class="mx-auto btn-action p-2" title="Choisir ce Jour">{{ button_label|default('Choisir ce Jour') }}<i class="fa fa-check mx-2"></i></button>
    </div>
    {{ form_end(form) }}
{% endblock %}