<div class="row my-5">
    <div class="col-8 mx-auto">
        
         {{ form_start(form) }}

            {{ form_row(form.title) }}
            {{ form_row(form.message) }}

        {{ form_end(form) }}

    </div>
</div>