{% extends 'base.html.twig' %}

{% block title %}Créer un nouveau Message{% endblock %}

{% block body %}
    <h1>Créer un nouveau Message</h1>

    {{ include('contacts/form.html.twig') }}

{% endblock %}