{{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="col-1 mx-auto text-center">
        <button class="btn btn-warning" title="Sauvegarder"><i class="fa fa-edit fa-beat mx-2"></i>{{ button_label|default('Sauvegarder') }}</button>
    </div>    
{{ form_end(form) }}
